@import "./variables.scss";

body{
    background-color: var(--purple-dark);
}

.app-container{
    width: 40vw;
    margin: 15vh auto;
    background-color:  var(--black);
    border-radius: 10px;
    padding: 10px;
    min-height: 400px;

}

form{
    display: grid;
    margin: 20px auto;
    justify-content: center;
    align-items: center;

}

form input{
    background-color: #7e7394;
    color:var(--white);
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
}

form button{
    background-color: var(--purple-dark);
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
}

.avatarImage{
    border: solid 10px var(--purple-light);
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    margin: 40px auto;
    display: block;
}